*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

section {
    height: 100vh;
}

.all-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-heading{
    margin-bottom: 10px;
}

.form-heading h1{
    margin-bottom: 5px;
}

.formInput {
    margin-bottom: 15px !important;
}

.formLabel {
    margin-bottom: 5px;
}